@page
@using System.Text.Encodings.Web
@model StarColonies.Web.Pages.Map

<!--
Token for anti-forgery validation: 
The anti-falsification token is a security measure against CSRF (Cross-Site Request Forgery) attacks.
It compares the token sent with the request with the token stored in a hidden attribute in the form.
This ensures that the request actually comes from the authenticated user and not from a malicious third party. 
-->
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Map";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/map.css">
    <link rel="stylesheet" href="~/css/partialView/navBar.css"/>
    <link rel="stylesheet" href="~/css/responsives/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">
</head>
<body>

@{
    var coloniesJson = System.Text.Json.JsonSerializer.Serialize(Model.Colonies.Select(c => new {
        id = c.Id,
        name = c.Name
    }));
    var itemsJson = System.Text.Json.JsonSerializer.Serialize(Model.Inventory.Select(i => new {
        id = i.Item.Id,
        name = i.Item.Name,
        image = i.Item.ImagePath,
        quantity = i.Quantity,
        forceModifier = i.Item.Effect.ForceModifier,
        staminaModifier = i.Item.Effect.StaminaModifier
    }));
    bool isAdmin = User.Identity?.IsAuthenticated == true && User.IsInRole("Admin");
}

<header>
    @await Html.PartialAsync("Shared/partialView/_NavBarPartial")
</header>

<section id="viewport">
    <div class="MyData">
        <h4>Lvl : @Model.MyColonist.Level</h4>
        <h4 style="display: flex; align-items: center;"><img src="~/img/icons/mustysCoin.png" height="20" alt=""/> : @Model.MyColonist.Musty</h4>
    </div>
    <div id="map">
        @foreach (var planet in Model.Planets)
        {
            <planet-item
                data-id="@planet.Id"
                data-name="@planet.Name"
                data-image="@planet.ImagePath"
                data-x="@planet.X" data-y="@planet.Y"
                data-id="@planet.Id"
                data-teams='@Html.Raw(HtmlEncoder.Default.Encode(coloniesJson))'
                data-items='@Html.Raw(HtmlEncoder.Default.Encode(itemsJson))'>

                @foreach (var mission in planet.Missions.Where(m => isAdmin || m.Visible))
                {
                    <quest
                        id="@mission.Id"
                        title="@mission.Name"
                        description="@mission.Description"
                        difficulty="@mission.Difficulty"
                        reward="@mission.CoinsReward"
                        visible="@mission.Visible">

                        <enemies>
                            @foreach (var enemy in mission.Enemies)
                            {
                                <enemy name="@enemy.Name" image="@enemy.ImagePath"></enemy>
                            }
                        </enemies>

                        <rewards>
                            @foreach (var reward in mission.Items)
                            {
                                <reward
                                    name="@reward.Item.Name"
                                    quantity="@reward.Quantity"
                                    image="@reward.Item.ImagePath">
                                </reward>
                            }
                        </rewards>
                    </quest>
                }
            </planet-item>
        }
    </div>

    <section class="overlay hidden" id="overlay">
        <div class="overlay-content">
            <h4 style="text-align: center;">Mission</h4>
            <button id="closeOverlay">Fermer</button>
        </div>
    </section>
</section>

<!-- Import js file -->
<script>window.BASE_PATH = '@ViewContext.HttpContext.Request.PathBase';</script>
<script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
<script src="~/js/components/nav_bar.js"></script>
<script src="~/js/components/map/utils/map.js"></script>
<script type="module" src="~/js/components/map/planets/planetItem.js"></script>

<script>
    window.isAdmin = @(User.Identity?.IsAuthenticated == true && User.IsInRole("Admin") ? "true" : "false");
</script>

</body>
</html>
