@page
@model StarColonies.Web.Pages.Map

@{
    ViewData["Title"] = "Map";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/map.css">
</head>
<body>

<section id="viewport">
    <div id="map">
        @foreach (var planet in Model.Planets)
        {
            Console.WriteLine($"Planet: {planet.Name}, X: {planet.X}, Y: {planet.Y}");
            <planet-item
                data-name="@planet.Name"
                data-image="@{@planet.Name.ToLower()}.png"
                data-x="@planet.X"
                data-y="@planet.Y"
                data-id="@planet.Id">

            @foreach (var mission in planet.Missions)
            {
                <quest
                    title="@mission.Name"
                    description="Difficulté : @mission.Difficulty"
                    reward="@($"{mission.CoinsReward}")" />
            }
        </planet-item>
        }
    </div>
</section>

<!-- Import js file -->
<script src="~/js/components/planet.js"></script>
<script src="~/js/map.js"></script>

</body>
</html>
