@page
@using System.Text.Encodings.Web
@model StarColonies.Web.Pages.Map

<!--
Token for anti-forgery validation: 
The anti-falsification token is a security measure against CSRF (Cross-Site Request Forgery) attacks.
It compares the token sent with the request with the token stored in a hidden attribute in the form.
This ensures that the request actually comes from the authenticated user and not from a malicious third party. 
-->
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Map";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/map.css">
    <link rel="stylesheet" href="~/css/partialView/navBar.css"/>
</head>
<body>

@{
    var coloniesJson = System.Text.Json.JsonSerializer.Serialize(Model.Colonies.Select(c => new {
        id = c.Id,
        name = c.Name
    }));
    var itemsJson = System.Text.Json.JsonSerializer.Serialize(Model.Items.Select(i => new {
        id = i.Id,
        name = i.Name,
        image = i.ImagePath,
        forceModifier = i.Effect.ForceModifier,
        staminaModifier = i.Effect.StaminaModifier
    }));
}

<header>
    @await Html.PartialAsync("Shared/partialView/_NavBarPartial")
</header>

<section id="viewport">
    <div id="map">
        @foreach (var planet in Model.Planets)
        {
            <planet-item
                data-name="@planet.Name"
                data-image="@planet.ImagePath"
                data-x="@planet.X" data-y="@planet.Y"
                data-id="@planet.Id"
                data-teams='@Html.Raw(HtmlEncoder.Default.Encode(coloniesJson))'
                data-items='@Html.Raw(HtmlEncoder.Default.Encode(itemsJson))'>

                @foreach (var mission in planet.Missions)
                {
                    <quest
                        id="@mission.Id"
                        title="@mission.Name"
                        description="@mission.Description"
                        difficulty="@mission.Difficulty"
                        reward="@mission.CoinsReward">

                        <enemies>
                            @foreach (var enemy in mission.Enemies)
                            {
                                <enemy name="@enemy.Name" image="@enemy.ImagePath"></enemy>
                            }
                        </enemies>

                        <rewards>
                            @foreach (var reward in mission.Items)
                            {
                                <reward name="@reward.Name" image="@reward.ImagePath"></reward>
                            }
                        </rewards>
                    </quest>
                }
            </planet-item>
        }
    </div>

    <section class="overlay hidden" id="overlay">
        <div class="overlay-content">
            <h4 style="text-align: center;">Mission</h4>
            <button id="closeOverlay">Fermer</button>
        </div>
    </section>
</section>

<!-- Import js file -->
<script src="~/js/components/nav_bar.js"></script>
<script src="~/js/components/map/utils/map.js"></script>
<script type="module" src="~/js/components/map/planets/planetItem.js"></script>

</body>
</html>
