@page "{id:guid}"
@model StarColonies.Web.Pages.ModifyColon

@{
    ViewData["Title"] = "Modify profile";
    Layout = "Shared/_Layout";
}

<div class="mainModifyProfile">
    <form method="post" class="containerModifyColon">
        <a asp-page="Profile" asp-route-id="@Model.Id" class="buttonProfile backButtonProfile">
            <img class="modifyLogoProfile" src="/img/icons/arrow.png" alt="back"/>
        </a>
        
        <h1>Modify profile</h1>

        <div class="containColumnModifyProfile">
            <div class="columnLeftModifyProfile">
                <div>
                    <space-input id="email-input" label="Email" label-position="50" value="@Model.Colonist.Email" required></space-input>
                    <span asp-validation-for="ModifyUser.Email" class="text-danger"></span>
                </div>

                <div>
                    <space-input id="settler-name-input" label="Settler's name" label-position="50" value="@Model.Colonist.Name" required></space-input>
                    <span asp-validation-for="ModifyUser.SettlerName" class="text-danger"></span>
                </div>

                <div>
                    <space-date label="Birthday" label-position="50" required value="@Model.Colonist.DateOfBirth.ToString("dd/MM/yyyy")"></space-date>
                    <span asp-validation-for="ModifyUser.BirthdayEntry" class="text-danger"></span>
                </div>

                <div>
                    <space-select label="Choose profession" options='["Engineer", "Doctor", "Scientist", "Soldier"]' value="@Model.Colonist.Job" required></space-select>
                    <span asp-validation-for="ModifyUser.Profession" class="text-danger"></span>
                </div>

                <div>
                    <stat-panel
                        force="@Model.Colonist.Strength"
                        stamina="@Model.Colonist.Stamina"
                        max="7"></stat-panel>
                    <span asp-validation-for="ModifyUser.Statistics" class="text-danger"></span>
                </div>

                <input id="email-hidden" asp-for="ModifyUser.Email" type="hidden"/>
                <input id="settler-name-hidden" asp-for="ModifyUser.SettlerName" type="hidden"/>
                <input id="birthdate-hidden" asp-for="ModifyUser.BirthdayEntry" type="hidden"/>
                <input id="profession-hidden" asp-for="ModifyUser.Profession" type="hidden"/>
                <input id="stats-hidden" asp-for="ModifyUser.Statistics" type="hidden"/>
            </div>

            <div class="columnRight">
                <input id="character-hidden" asp-for="ModifyUser.ProfilePicture" type="hidden"></input>
                <character-panel value="@Model.Colonist.ProfilPicture">
                    <character-item image="1.png"></character-item>
                    <character-item image="2.png"></character-item>
                    <character-item image="3.png"></character-item>
                    <character-item image="4.png"></character-item>
                    <character-item image="5.png"></character-item>
                    <character-item image="6.png"></character-item>
                    <character-item image="7.png"></character-item>
                    <character-item image="8.png"></character-item>
                    <character-item image="9.png"></character-item>
                    <character-item image="10.png"></character-item>
                    <character-item image="11.png"></character-item>
                    <character-item image="12.png"></character-item>
                </character-panel>
                <span asp-validation-for="ModifyUser.ProfilePicture" class="text-danger"></span>
            </div>
        </div>

        <button class="formButton" type="submit">Modify</button>
    </form>
</div>

<script type="module" src="~/js/components/inputs/import.js"></script>
<script type="module" src="~/js/components/stat_panel.js"></script>
<script src="~/js/components/character_panel.js"></script>

<script>
    document.querySelector("form").addEventListener("submit", () => {
        const emailComponent = document.getElementById("email-input");
        const settlerNameComponent = document.getElementById("settler-name-input");
        const dateComponent = document.querySelector("space-date")
        const professionComponent = document.querySelector("space-select")
        const statsComponent = document.querySelector("stat-panel")
        const panel = document.querySelector('character-panel');

        document.getElementById("email-hidden").value = emailComponent.value;
        document.getElementById("settler-name-hidden").value = settlerNameComponent.value;
        const dateHidden = document.getElementById("birthdate-hidden")
        const professionHidden = document.getElementById("profession-hidden")
        const statHidden = document.getElementById("stats-hidden")
        const characterHidden = document.getElementById("character-hidden")
        
        dateHidden.value = dateComponent.value
        professionHidden.value = professionComponent.value
        statHidden.value = statsComponent.value
        const { selectedCharacter, uploadedCharacter } = panel.getSelectedImageDetails();

        if (selectedCharacter) {
            characterHidden.value = selectedCharacter;
        }else if (uploadedCharacter) {
            characterHidden.value = uploadedCharacter;
        }
    });
</script>