@page "{teamId:int}"
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using StarColonies.Domains.Models.Colony
@model StarColonies.Web.Pages.ModifyColony

@{
    ViewData["Title"] = "Modify colony";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<section class="mainModifyProfile">
    <form method="post" class="containerModifyColon">
        <button class="buttonProfile backButtonProfile">
            <a asp-page="TeamProfile" asp-route-teamId="@Model.TeamId">
                <img class="modifyLogoProfile" src="/img/icons/arrow.png" alt="back"/>
            </a>
        </button>

        <h1>Modify colony</h1>

        <space-input label="Name" value="@Model.Colony!.Name" label-position="50" required></space-input>
        <input id="name-hidden" asp-for="ModifColony.Name" type="hidden"/>
        <span asp-validation-for="ModifColony.Name" class="text-danger"></span>

        <div class="columnsCreateColony">
            <div class="firstColumnCreateColony">
                <div class="headerFirstColumnCreateColony">
                    <h2 class="titlesCreateColony">Team</h2>
                    <p id="teamCount" class="titlesCreateColony">1/5</p>
                </div>

                <hr class="ledHr"/>

                <div id="teamList">
                    <!-- Complete in js -->
                </div>
            </div>

            <div class="secondColumnCreateColony">
                <h2 class="titlesCreateColony">Colonists</h2>

                <hr class="ledHr"/>

                <div id="colonistsList">
                    <!-- Complete in js -->
                </div>

                <hr class="ledHr"/>
            </div>

            <div>
                <input id="character-hidden" asp-for="ModifColony.PictureTeam" type="hidden"/>
                <character-panel value="@Model.Colony!.LogoPath">
                    <character-item image="team1.png"></character-item>
                    <character-item image="team2.png"></character-item>
                    <character-item image="team3.png"></character-item>
                    <character-item image="team4.png"></character-item>
                    <character-item image="team5.png"></character-item>
                    <character-item image="team6.png"></character-item>
                    <character-item image="team7.png"></character-item>
                    <character-item image="team8.png"></character-item>
                    <character-item image="team9.png"></character-item>
                    <character-item image="team10.png"></character-item>
                    <character-item image="team11.png"></character-item>
                    <character-item image="team12.png"></character-item>
                </character-panel>
                <span asp-validation-for="ModifColony.PictureTeam" class="text-danger"></span>
            </div>
        </div>

        <input id="colonists-hidden" name="ModifColony.ColonistsJson" type="hidden"/>
        <input asp-for="ModifColony.Colonists" type="hidden"/>
        <span asp-validation-for="ModifColony.Colonists" class="text-danger"></span>
        <button class="formButton" type="submit">Modify colony</button>
    </form>
</section>

<script>
    window.availableColonists = @Html.Raw(JsonSerializer.Serialize(Model.Colonists ?? new List<ColonistModel>()));
    window.teamOwner = @Html.Raw(JsonSerializer.Serialize(Model.TeamOwner));
    window.initialTeam = @Html.Raw(JsonSerializer.Serialize(Model.Colony?.Colonists ?? new List<ColonistModel>()));

    document.querySelector("form").addEventListener("submit", () => {
        const nameComponent = document.querySelector("space-input")
        const panel = document.querySelector('character-panel');

        const nameHidden = document.getElementById("name-hidden")
        const characterHidden = document.getElementById("character-hidden")

        nameHidden.value = nameComponent.value

        const { selectedCharacter, uploadedCharacter } = panel.getSelectedImageDetails();

        if (selectedCharacter) {
            characterHidden.value = selectedCharacter;
        }else if (uploadedCharacter) {
            characterHidden.value = uploadedCharacter;
        }
    })
</script>

<script type="module" src="~/js/components/inputs/input.js"></script>
<script src="~/js/components/character_panel.js"></script>
<script type="module" src="~/js/pages/create_colony.js"></script>