@page "{itemId:int}"
@model StarColonies.Web.Pages.ModifyItem

@{
    ViewData["Title"] = "Modify item";
    Layout = "Shared/_Layout";
}

<section class="mainInventoryProfile">
    <button class="buttonProfile backButtonProfile">
        <a asp-page="ItemsList">
            <img class="modifyLogoProfile" src="~/img/icons/arrow.png" alt="back"/>
        </a>
    </button>
    
    <h1 class="titleCreateItem">Modify item</h1>
    
    <hr class="hrCreateItem"/>
    
    <form method="post" enctype="multipart/form-data" class="formCreateItem">
        <div>
            <label>Item name</label>
            <input asp-for="ModifItem.NameItem" value="@Model.Item!.Name" type="text"/>
            <span asp-validation-for="ModifItem.NameItem" class="text-danger"></span>
        </div>
    
        <div class="fileUploadContainer">
            <label>Picture</label>
            <input id="fileInput" type="file" accept="image/*"/>
            <input asp-for="ModifItem.Picture" value="@Model.Item.ImagePath" type="hidden"/>
            <span asp-validation-for="ModifItem.Picture" class="text-danger"></span>
        </div>
    
        <div class="statsContainer">
            <label>Modifier stats</label>

            <div class="statsRow">
                <div class="statInputRow">
                    <img src="~/img/icons/force.png" alt="force"/>
                    <input asp-for="ModifItem.ForceModifier" value="@Model.Item.Effect.ForceModifier" type="number" min="0" />
                    <span asp-validation-for="ModifItem.ForceModifier" class="text-danger"></span>
                </div>

                <div class="statInputRow">
                    <img src="~/img/icons/stamina.png" alt="stamina"/>
                    <input asp-for="ModifItem.StaminaModifier" value="@Model.Item.Effect.StaminaModifier" type="number" min="0" />
                    <span asp-validation-for="ModifItem.StaminaModifier" class="text-danger"></span>
                </div>
            </div>
        </div>
    
        <div>
            <label>Price</label>
            <input asp-for="ModifItem.Price" value="@Model.Item.CoinsValue" type="number" min="0"/>
            <span asp-validation-for="ModifItem.Price" class="text-danger"></span>
        </div>
    
        <div>
            <label>Legendary</label>
            <input asp-for="ModifItem.IsLegendary" type="checkbox" />
        </div>

        <button class="formButton" type="submit">Modify item</button>
    </form>
</section>

<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const fileNameDisplay = document.getElementById('fileNameDisplay');
        const file = event.target.files[0];
        fileNameDisplay.textContent = file ? file.name : 'No file chosen';
    });

    document.getElementById('fileInput').addEventListener('change', function(event) {
        const fileInput = event.target;
        const fileNameDisplay = document.getElementById('fileNameDisplay');
        const file = fileInput.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector('input[name="ModifItem.Picture"]').value = e.target.result;
            };
            reader.readAsDataURL(file);
            fileNameDisplay.textContent = file.name;
        } else {
            fileNameDisplay.textContent = 'No file chosen';
            document.querySelector('input[name="ModifItem.Picture"]').value = '';
        }
    });
</script>

<script type="module" src="~/js/notifyConnection.js"></script>