@page "{teamId:int}"
@model StarColonies.Web.Pages.TeamProfile

@{
    ViewData["Title"] = "Team profile";
    Layout = "Shared/_Layout";
}

@functions {
    public string TruncateText(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text)) return string.Empty;
        return text.Length > maxLength ? text.Substring(0, maxLength).Trim() + "..." : text;
    }
}

<section class="mainProfile mainTeamProfile">
    <div class="navTeamProfile">
        <button class="buttonProfile">
            <a asp-page="Profile" asp-route-id="@Model.TeamOwner!.Id">
                <img class="modifyLogoProfile" src="~/img/icons/arrow.png" alt="back"/>
            </a>
        </button>
        
        <div>
            <button class="buttonModifyGreen">
                <a asp-page="ModifyColony" asp-route-teamId="@Model.Colony!.Id">
                    <img class="modifyLogoProfile" src="~/img/icons/modify.png" alt="modifyTeam"/>
                </a>
            </button>

            <form method="post" asp-page-handler="Delete" onsubmit="return confirmDeletion();">
                <button type="submit" class="buttonDelete">
                    <img class="modifyLogoProfile" src="~/img/icons/bin.png" alt="deleteTeam"/>
                </button>
            </form>
        </div>
    </div>

    <div class="teamProfileContainer">
        <div class="firstColumnTeamProfile">
            <div class="mainFrameFirstPart">
                <img src="~/img/upload/@Model.Colony!.LogoPath" alt="profilePicture"/>
                <div>
                    <h2>@TruncateText(@Model.Colony.Name, 10)</h2>
                    <p>Owner: @Model.TeamOwner!.Name</p>
                </div>
            </div>

            <div class="statsProfile">
                <p>Stats:</p>
                <div>
                    <img src="~/img/icons/force.png" alt="strengh"/>
                    <p class="informationProfileValue valueStatProfile">@Model.Colony.Strength</p>
                </div>
                <div>
                    <img src="~/img/icons/stamina.png" alt="stamina"/>
                    <p class="informationProfileValue valueStatProfile">@Model.Colony.Stamina</p>
                </div>
            </div>
        </div>

        <div class="verticalLed"></div>

        <div>
            @foreach (var colonist in Model.Colony.Colonists)
            {
                <div class="oneUserTeamProfile oneUserCreateColony">
                    <img class="logoUserCreateColony" src="~/img/upload/@colonist.ProfilPicture" alt="logoUser"/>
                    <div>
                        <h3 class="titlesCreateColony">@TruncateText(colonist.Name, 10)</h3>
                        <p class="textsCreateColony">Lvl: @colonist.Level</p>
                    </div>
                    <p class="textsCreateColony">@colonist.Job</p>
                    <div class="oneUserStatCreateColony">
                        <img src="~/img/icons/force.png" alt="strength"/>
                        <p class="textsCreateColony">@colonist.Strength</p>
                    </div>
                    <div class="oneUserStatCreateColony">
                        <img src="~/img/icons/stamina.png" alt="stamina"/>
                        <p class="textsCreateColony">@colonist.Stamina</p>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

<script>window.BASE_PATH = '@ViewContext.HttpContext.Request.PathBase';</script>
<script>
    function confirmDeletion() {
        return confirm("Are you sure you want to delete this colony?");
    }
</script>